:root {
    --cor-fundo-principal: hsl(185, 75%, 39%);
    --cor-texto: hsl(227, 10%, 46%);
}

body {
    background-color: var(--cor-fundo-principal);
}

.container {
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: rgb(236, 233, 233);
    width: 350px;
    height: 400px;
    border-radius: 10px;
}

.profile {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.profile-img {
    border-radius: 50%;
}

.profile-discrib{
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.name {
    font-weight: 700;
    margin-top: 10px;
    padding: 10px;
}

.age {
  font-weight: 700;
  color: var(--cor-texto);
}

.country p{
    margin-top: 14px;
    font-size: 20px;
    font-weight: bold;
    color: var(--cor-texto);
}

hr {
    margin-top: 35px;
}

.counter-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 30px;
}

p.number {
    font-weight: 700;
}

p.title {
    font-size: 18px;
    font-weight: 700;
    color: var(--cor-texto);
}

@media(max-width:1400px) {
    .container {
        height: 610px;
    }
}

@media(max-width:1280px) {
    .container {
        margin: 0 auto;
        height: 800px;
    }
}

@media(max-width:912px) {
    .container {
        height: 410px;
    }
    .card {
        width: 300px;
        height: 350px;
    }
    .counter-container {
        margin-top: 10px;
    }
}

@media(max-width:820px) {
    .container {
        height: 370px;
    }
    .card {
        width: 300px;
        height: 350px;
    }
    .counter-container {
        margin-top: 10px;
    }
}

@media(max-width:740px) {
    .container {
        height: 360px;
    }
    .card {
        width: 300px;
        height: 350px;
    }
    .counter-container {
        margin-top: 10px;
    }
}

@media(max-width:700px) {
    .container {
        height: 960px;
    }
    .card {
        width: 350px;
        height: 400px;
    }
    .counter-container {
        margin-top: 20px;
    }
}

@media(max-width:600px) {
    .container {
        height: 740px;
    }
    .card {
        width: 300px;
        height: 350px;
    }
    .counter-container {
        margin-top: 10px;
    }
}